body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    color: #bbb;
    background: #101010;
    letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
body.scroll_hidden {
    overflow: hidden;
    height: 100vh;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@media (max-width:1199px) {
    .cursor-follower {
    display: none;
}
}
.container {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.container:before {
    pointer-events: none;
    z-index: 12;
}